.column {
    float: left;
}

.graph {
    width: 420px;
}

.form {
    width: 500px;
}

.code {
    width: 400px;
    font-size: 150%;
}

.code pre {
    padding: 20px;
    line-height: 120%;
}

.box {
    padding: 1em;
}

canvas { 
    border: 1px solid black; 
}
